                 <!-- Basic tree search  -->
                 {% if tree %}
                 <script src="/static/js/tree.js"></script>
                 <div class="tree-container">
                    <div class="tree mt-3">
   
                        <div class="tree-node tree-head visible">
                            <div class="symbol">{{tree.head}} <span class="badge bg-primary">Head</span></div>
                            <div class="description">{{ tree.description }}</div>
                        </div>
                        <div id="tree-body">
                            {% for node in tree.children recursive %}
                                {% if node.children %}
                                <div class="branch-head d-flex mx-4 mb-2" id="{{node.head}}">
                                    <div class="tree-node visible">
                                        <div class="symbol">{{ node.head }}
                                            <span class="position-absolute top-50 start-0 translate-middle p-2 border border-light rounded-circle node-link">
                                                <span class="visually-hidden">New alerts</span>
                                            </span>
                                            
                                        </div>
                                        <div class="description">{{ node.description }}</div>
                                    </div>

                                    <!--Create children recursively by jumping back to the loop with the child as 'tree' (jinja does the work just explaining)-->
                                    <div class="branch-children" id="{{node.head}}">
                                        {{ loop(node.children) }}
                                    </div>

                                {% else %}
                                    <div class="tree-node leaf mx-4 mb-2 visible" id="node.head">
                                        <div class="symbol">{{ node.head }}
                                            <span class="position-absolute top-50 start-0 translate-middle p-2 border border-light rounded-circle node-link">
                                                <span class="visually-hidden">New alerts</span>
                                              </span>
                                            
                                        </div>
                                        <div class="description">{{ node.description }}</div>

                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>