{% extends "layout.html" %}
{% block title %} - Notes{% endblock %}
{% block main %}

<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
    <div class="row">
        <main class="col-md-7 container graph-display px-3 py-0">
            <!-- Markdown content will be displayed here -->
            <!-- Basic tree search  -->
            {% if tree %}
            <script src="/static/js/tree.js"></script>
            <div id="{{ tree.head }}" class="tree mt-3">
                <div id="{{ tree.head }}" class="tree-node visible-node tree-head"
                    verbose="{% if tree.verbose %}{{ tree.verbose }}{% endif %}" details="{{ tree.details }}">

                    <div class="symbol">{{tree.head}} <span class="badge visible_count bg-primary">
                            {{tree.depth(tree.head)}}</span></div>
                    <div class="details">{{ tree.details }}</div>
                </div>
                <div id="{{tree.head}}" class="tree-body branch-children" style="z-index: 10;">
                    {% for node in tree.children recursive %}
                    {% if node.children %}
                    <div class="branch-head d-flex mx-4 mb-2" id="{{node.head}}">
                        <div class="tree-node visible-node" id="{{node.head}}"
                            verbose="{% if node.verbose %}{{ node.verbose }}{% endif %}" details="{{ node.details}}">
                            <div class="symbol">{{ node.head }}

                                <span
                                    class="position-absolute top-50 start-0 translate-middle p-2 border border-light rounded-circle node-link">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                                {% set depth = node.depth(node.head) %}
                                {% if depth > 1 %}
                                <span title="children count" class="badge bg-primary child_count">{{depth}} </span>

                                {% endif %}
                            </div>
                            <div class="details">{{ node.details | safe }}</div>
                        </div>
                        <!--Create children recursively by jumping back to the loop with the child as 'tree' (jinja does the work just explaining)-->
                        <div id="{{ node.head }}" class="branch-children ">
                            {{ loop(node.children) }}
                        </div>
                        {% else %}
                        <div class="branch-head d-flex mx-4 mb-2" id="{{node.head}}">
                            <div class="tree-node visible-node leaf"
                                verbose="{% if node.verbose %}{{ node.verbose }}{% endif %}"
                                details="{{ node.details}}">
                                <div class="symbol">{{ node.head }}
                                    <span
                                        class="position-absolute top-50 start-0 translate-middle p-2 border border-light rounded-circle node-link">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>

                                </div>
                                {% if node.details %}<div class="details">{{ node.details }}</div>{% endif %}
                            </div>

                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <!--TODO : populate node links-->
                    <div id="node-links" class="node-links mt-3 position-absolute" style="z-index: 1;">

                    </div>
                </div>
                <!--Tree end below-->
                {% endif %}



                <!-- Add menu items here -->

        </main>
        <div class="col-md-5 descriptionBox">
            {{tree.verbose | safe}}
        </div>

    </div>
</div>
{% endblock %}
